name: build library

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_call:

jobs:
  build-library:
    runs-on: ubuntu-latest
    container:
      image: rust:1.91-slim-trixie
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y clang libclang-dev cmake wget ninja-build bzip2 nodejs npm
          wget -qO /opt/wasi-sdk-24.0.tar.gz https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-24/wasi-sdk-24.0-x86_64-linux.tar.gz
          mkdir -p /opt/wasi-sdk-24.0
          tar -xf /opt/wasi-sdk-24.0.tar.gz --strip-components=1 -C /opt/wasi-sdk-24.0
          echo "WASI_SDK_PATH=/opt/wasi-sdk-24.0" >> "$GITHUB_ENV"
          rustup target add wasm32-wasip1
          rustup component add rustfmt clippy
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Build wasi
        run: CC=${WASI_SDK_PATH}/bin/clang cargo build --target wasm32-wasip1 --release
      - name: Lint wasi
        run: CC=${WASI_SDK_PATH}/bin/clang cargo clippy --target wasm32-wasip1
      - name: Format
        run: cargo fmt --check
